/*
 * Empty Stylesheet file.
 */

.background{
//-fx-background-color: linear-gradient(#1fe2bb,#12846d)
-fx-background-color: linear-gradient(#B2DFF9,#F0F0F0)
}

.header{
    -fx-background-image: url("images/header.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.mousePointer{
    -fx-cursor: hand;
}

.list-view{
    
    -fx-border-image-source: url('images/skin6.png');
    -fx-border-image-slice: 8;
    -fx-border-image-width: 10;
    -fx-border-image-insets: -5;
    
}

.button{
    
    -fx-border-image-source: url('images/border-b-w.png');
    -fx-border-image-slice: 8;
    -fx-border-image-width: 9;
    -fx-border-image-insets: -2;
    
}

.button:pressed{
    -fx-text-fill: #3C59A5;
    -fx-background-color: #FFCC03;
}

.borderBW{
    -fx-border-image-source: url('images/skin6.png');
    -fx-border-image-slice: 9;
    -fx-border-image-width: 15;
    -fx-border-image-insets: -2;
}

