
.borderBW{
    -fx-border-image-source: url('images/skin6.png');
    -fx-border-image-slice: 9;
    -fx-border-image-width: 15;
    -fx-border-image-insets: -2;
}

.button{
    
    -fx-border-image-source: url('images/border-b-w.png');
    -fx-border-image-slice: 8;
    -fx-border-image-width: 9;
    -fx-border-image-insets: -2;
    
}
.button:pressed{
    -fx-text-fill: #3C59A5;
    -fx-background-color: #FFCC03;
}



